body{
    background: url("https://firebasestorage.googleapis.com/v0/b/eva2-f5936.appspot.com/o/back.jpg?alt=media&token=e360615e-ef3a-43bd-9703-17ecd010cad2") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}