body{
    background: url("https://firebasestorage.googleapis.com/v0/b/eva2-f5936.appspot.com/o/back.jpg?alt=media&token=7d8423f2-a3a3-4712-8b31-d8534967b0b5") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}